@import url("reset.css");
.container{
    max-width: 1200px;
    margin: 50px auto;
    background-color: antiquewhite;
    padding: 20px;
}
.cardList{
    width: 80%;
    margin: auto;
    background-color: aquamarine;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.cardList li{
    width: calc((100% - 50px) / 6);
    background-color: rgb(129, 129, 241);
    padding: 40px 0;
}

@media (max-width:768px){
    .container{
        width: 90%;
    }
    .cardList li{
    width: calc((100% - 30px) / 4);
}
}
@media (max-width:480px){
    .cardList li{
    width: calc((100% - 10px) / 2);
}
}
@media (max-width:390px){
    .cardList li{
        width: 100%;
    }
}
